<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ config.og_meta.description }}">
<meta property="og:title" content="{{ config.og_meta.title }}">
<meta property="og:description" content="{{ config.og_meta.description }}">
<meta property="og:image" content="{{ config.og_meta.image }}">
<link rel="icon" href="/favicon.ico">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="{{ config.fonts.google_fonts_url }}" rel="stylesheet">
<style>{{ cssVariables | safe }}</style>
<link rel="stylesheet" href="/css/main.css">
